
* {
    box-sizing: border-box;
}

body {
    margin: 0%;
}

.App {
    background-image: url(./static/Backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}